* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.wrap {

    display: flex;
    position: relative;
}

/* .wrapper {
    /* display: flex;
    position: relative;
}  */
/*top bar*/
.nav {
    height: 105px;
    width: 100%;
    background-color: #1177ca;

}

.nav .nav-header {
    display: inline;
}

.nav .nav-header .nav-title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 35px 20px 35px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 550;
    margin-top: 40px;
    margin-left: 10px;
    font-family: fantasy;
}

.nav .nav-links {
    font-size: 15px;
    display: inline;
    float: right;
}

.nav .nav-links ul li a {

    color: #fff;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 8px;
    text-decoration: none;
}

.nav .nav-links ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
}

.nav .nav-links ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
}

.nav .nav-links ul li {
    display: inline-block;
    background-color: #1177ca;
}

nav .nav-links ul li:hover {
    background-color: #0b65af;
    border-radius: 5px;
}
/*bread cump*/
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* The side navigation menu */


.sidebar {
    float: left;
    width: 20%;
    background-color: #f1f1f3;
    height: 100%;
    width: 250px;


}

/* Sidebar links */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f3f3f3;
    color: #000;
    height: 800px;
    font-style: normal;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .sidebar a {
    color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    margin-left: -30px;
  }
   
  .sidebar a.active {
    background-color: #e6e8ee;
    /* color: rgb(226, 202, 202); */
  }
  
  .sidebar a:hover:not(.active) {
    background-color: rgb(202, 221, 238);
    color: white;
  }
  
/* media query*/

@media screen and (max-height: 450px) {
.sidebar {
        padding-top: 15px;
    }

 .sidebar a {
        font-size: 18px;
        padding: 2px;
    }
}

.nav-links .imglogo {
    display: block;
    border-radius: 50%;
    width: 40px;
    margin-top: 7px;
}

.nav-links .logo-img {
    width: 150px
}

/* flex for search*/
.flex-container {
    display: flex;
    background-color: #1177ca;
}

.flex-container>div {
    background-color: #1177ca;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

.nav-links .button-nav {

    background-color: #ffffff;
    border: none;
    color: rgb(26, 11, 11);
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    margin-top: 23px;

}

.nav-links .search {
    float: right;
    margin-top: 20px;
    padding: 10px 100px;
    border-radius: 15px;
}

.nav-links .search button {
    background-color: #0074D9;
    color: #0c0202;
    float: right;
    padding: 50px 100px;
    margin-right: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.nav-links .iconimg {
    border-radius: 50%;
    width: 60px;
    margin-top: 15px;
}

.nav-links .bell-iconimg {
    border-radius: 50%;
    width: 30px;
    margin-top: 25px;
}

.nav-links .icodeimg {
    border-radius: 50%;
    width: 5px;
    margin-top: 0px;
}

.wrapper .main_content {
    margin: left 10px;
    display: inline-block;
    width: 85%;
}

.wrapper .main_content .header {
    /* padding: 100px; */
    background: rgb(255, 253, 253);
    color: rgb(20, 12, 12);
    margin-top: 25px;
     margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.wrapper .main_content .header .brd {
    /* padding: 100px; */
    color: rgb(102, 153, 230);
    /* margin-left: 275px; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.wrapper .table {
    width: 100%;
    margin: left 10px;
}

.wrapper .main_content .header .head {
    border: rgb(221, 230, 222);
    outline: #f0e9e9 solid;
    color: #434346;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




/*paggination*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #b1c6f3;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: rgb(109, 117, 223);
    float: left;
}


/*  table new */

.table table {
    width: 100%;
    display: table;
    background: #fff;
    border-radius: 1.0px;
}

.table td,th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 2px solid #dee2e6;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #000;
}

.table table thead tr th {
    font-weight: bold;
    border-top: 0;
    font-variant: all-petite-caps;

}

tr th:first-child {
    padding-left: 2.5px;
}

.table tbody tr:hover {
    background: rgba(79, 79, 79, 0.2);
    color: rgb(83, 30, 30);
}

/* .table  .th .ahref {
    background-color: #a3a516;
} */
.table td,th .ahref {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 2px solid #dee2e6;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: rgb(43, 124, 170);
}

/*to make email id in color*/
th .usd {
    margin: 0;
    color: rgba(79, 79, 79, 0.6);
}

/* invitation  */

.main_content .inv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(29, 24, 24);
    font-weight: 300;
}

.main_content .inv .h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    float: right;
}

/* button */
.button2 {
    background-color: #2b8edf;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    float: right;

}

.sidebar .sideimg {
    border-radius: 50%;
    width: 75px;
    margin-top: 75px;
    margin-left: 15px;
}

.proname {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}